* {box-sizing:border-box}

body {
    margin: 10;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    height: 100vh;
    overflow: hidden;
}

.column {
    display: grid;
    grid-template-rows: auto repeat(15, 1fr);
    gap: 4px
}

.header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background: #333;
    color: white;
    padding: 6px;
    border-radius: 6px
}

.left {
    flex: 2;
    padding: 10px;
}

.right {
    flex: 1;
    padding: 10px;
    border-left: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.container {
    display: flex;
    height: 100vh;
    padding-bottom: 250px;
}

.bingo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    height: 100%
}

.recent {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    background: #222;
    color: #fff;
    padding: 15px;
    border-radius: 10px
}

.history-container {
    background: #ddd;
    border: 2px solid #aaa;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.history-title {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.history-list {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pattern-title {
    text-align: center;
    font-size: 22px;
    margin: 10px 0 6px
}

.pattern-letters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    margin-bottom: 6px
}

.pattern-letters div {
    text-align: center;
    font-weight:bold;
    font-size: 18px;
    background: #333;
    color: white;
    padding: 4px;
    border-radius: 4px
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}

.pattern-btn {
    height:55px;
    background: #eee;
    border: 2px solid #aaa;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.free {
    background: gold;
    font-weight: bold;
    cursor: default;
}

.pattern-btn.active {
    background: #2196f3;
    color: white;
    border-color: #1565c0;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.reset-btn {
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: #c62828;
    color: white;
    cursor: pointer;
}

.reset-btn.hover {
    background: #b71c1c;
}

.num-btn {
    background: #ddd;
    border: 2px solid #aaa;
    border-radius: 6px;
    font-size: 24px;
    cursor: pointer;
    padding: 4px;
    transition: 0.2s;
}

.num-btn.active {
background: #4caf50;
color: white;
border-color: #2e7d32;
}